/* Table */
.table {
  background: white;

  border-radius: 10px;
  border-collapse: collapse;
  border-color: gray;
  border-spacing: 2px;

  box-sizing: border-box;

  margin: 0 auto;
  overflow: hidden;
  padding: 0;
}

.table thead tr {
  height: 60px;
  background: #36304a;
}
.table tbody tr {
  height: 50px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px;
  color: #808080;
  line-height: 1.2;
  font-weight: unset;
}
.table td:nth-child(1), .table th:nth-child(1) {
  padding-left: 30px;
}
.table td:last-child, .table th:last-child {
  padding-right: 30px;
}

.table td, .table th {
  padding-left: 8px;
  display: table-cell;
}

.table tbody tr:nth-child(even) {
  background-color: #f5f5f5;
}
/* .table tbody tr td {
  padding-left: 40% !important;
  margin-bottom: 24px;
} */
.table tbody tr:hover {
  background-color: #f5f5f5;
  color: #555555;
  cursor: pointer;
}

.table tr:last-child {
  border: 0;
}

.pagination {
  padding: 20px;
  display: inline-flex;
  justify-content: right;
  width: fit-content;
}

.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
/* ABS */
/* ====================================================== */
.abs-site-link {
  position: fixed;
  bottom: 40px;
  left: 20px;
  color: hsla(0, 0%, 0%, .5);
  font-size: 16px;
}