.colors {
  color: #000;
  color: #ffffff;
  color: #1f2124;
  color: #383838;
  color: #383838;
  color: #2d1996;
  color: #dee5ec;
  color: #ffffff;
  color: #001925;
  color: #383838;
  color: #383838;
  color: #383838;
  color: #383838;
  color: #fdfdfd;
  color: #190e54;
  color: #0ecae3;
  color: #fdfdfd;
  color: #adbfd0;
  color: #feffff;
  color: #eef2f5;
  color: #fff;
  color: #666;
  color: #e3e6e8;
  color: #eee;
}
