<html>
  <head>
    <!-- General Settings -->
    <meta charset="utf-8">
    <meta http-equiv="content-language" content="en-us">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <base href="{global.baseUrl}" />

    <!-- Meta Tags -->
    <title>{head.title} | {global.appName}</title>
    <meta name="description" content="{head.description}">

    <!-- Static Assets -->
    <link type="image/x-icon" rel="icon" href="favicon.ico">
    <!-- <script type="text/javascript" charset="utf-8" src="public/app.js"></script> -->
    <link rel="stylesheet" type="text/css" href="public/app.css" />
  </head>
  <body class="{body.class}">

    <!-- Header -->
    <div class="header">
      <div class="m-menu">
        <div class="m-menu__burger">
          <span></span>
        </div>
        <input class="m-menu__toggle" type="checkbox">
        <div class="m-menu__backdrop"></div>
        <div class="m-menu__content">
          <!-- Navigation -->
          <nav>
              <h2 class="nav-menu__header">Menu</h2>
              <ul class="ul-menu__listing">
                  <li><a class="loggedIn" href="javascript:void(0);" onclick="loadFinance();">Finance</a</li>
                  <li><a class="loggedIn" href="javascript:void(0);" onclick="loadLiability();">Liability</a></li>
                  <li><a class="loggedIn" href="javascript:void(0);" onclick="loadErrors();">Error Log</a></li>
                  <li><a href="index.html">Money</a></li>
              </ul>
          </nav>
        </div>
      </div>
    </div>

    <!-- Page Wrapper -->
    <div class="wrapper">

      <!-- Page-Specific Content -->
      <div class="content">
